body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: white;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

ul {
  list-style: none;
}
body {
  background-color: lightyellow;
}

#page-wrapper {
  display: flex;
  flex-direction: row;
  background-color: lightyellow;
  max-height: 900px;
}

#leftsidebar-wrapper {
  display: flex;
  flex: 4;
  order: -1;
  flex-direction: column;
  width: 25%;
  max-width: 350px;
}

#page-logo {
  display: flex;
  flex: 1;
  order: -1;
  padding: 10px 30px;
}

#main-controls {
  display: flex;
  flex: 7;
  flex-direction: column;
  overflow-y: auto;
}

#content-wrapper {
  display: flex;
  flex: 7;
  flex-direction: column;
  width: 80%;
}

li.thumbsup, li.thumbsdown, li.novote {
  cursor: pointer;
}

.thumbsup {
  color: green;
  font-weight: 800;
}

.game .thumbsup {
  color: green;
  background-color: white;
  border-radius: 5px;
  font-weight: 900px;
  margin:2px 10px;
}

#view-controls {
  display: flex;
  flex: 1;
  order: -1;
}

#sort-controls .instructions {
  padding: 0 20px;
}

#sort-controls, #sort-controls > div {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 30px;
}

#sort-controls label {
  display: inline-block;
}

#resulting-games {
  display: flex;
  flex: 7;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-height: 1000px;
}

.game {
  display: flex;
  flex-direction: column;
  flex: 0 0 none;
  margin: 2px;
  padding: 0 2px;
  width: 200px;
  max-width: 275px;
  min-width: 175px;
  max-height: 1000px;
  position: relative;
  padding-bottom: 60px;
  background-color: purple;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.game img {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
}

.game-name {
  margin: 0;
  padding: 0;
}

.game-yearpublished {
  margin: 0;
  padding: 0;
}

.summary, .details {
  margin: 0;
  padding: 10px 0;
}

.major.summary {
  margin: -15px 0;
  height: 75px;
  font-size: 2.0em;
  line-height: 1.5em;
  font-weight:800;
}

.major.details {
  height: 75px;
  font-size: 1.0em;
  line-height: 1.5em;
  font-weight:800;
}

.minor.details, #main-controls {
  height: 125px;
  font-size: 0.9em;
  line-height: 1.5em;
}

hr {
  width:70%;
}

.instructions {
  display: flex;
  align-items: center;
  line-height: 2.0em;
  font-size: 1.5em;
  font-weight: 800;
}

.circledNumber {
  display: inline-block;
  font-size: 2.0em;
}

#resulting-games .message {
  margin: 30px;
}

.warning, .error {
  color: red;
  font-weight: 800;
}

.message {
  margin: 0 30px;
}

.message.error, .message.warning {
  padding: 10px;
  background-color: lightpink;
  color: black;
  border: 3px solid red;
  border-radius: 10px;
}

#input-by-title input, 
#input-by-title label, 
#input-by-title textarea {
  display: block;
  margin-left: 15px;
}