body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}
.gamebag {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  background-color: white;
  color: white;
}

.game {
  position: relative;
  padding-bottom: 60px;
  background-color: purple;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
}

.game img {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
}

.game-name {
  margin: 0;
  padding: 0;
}

.game-yearpublished {
  margin: 0;
  padding: 0;
}

.majordetails {
  padding: 10px 5px;
  font-weight:800;
  font-size: 1.0em;
  line-height: 1.5em;
}

.minordetails {
  margin: 10px 0;
  padding: 10px 5px;
  font-size: 0.8em;
  line-height: 1.5em;
}

hr {
  width:70%;
}