/*
** NORMALIZE
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*
** GLOBAL STYLES (FOR HTML TAGS)
*/

body {
  background-color: lightyellow;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

hr {
  width:70%;
}


/*
** STRUCTURAL STYLES (FOR LAYING OUT AND STYLING REGIONS)
*/

#page-wrapper {
  display: flex;
  flex-direction: row;
  background-color: lightyellow;
  max-height: 900px;
}

#leftsidebar-wrapper {
  display: flex;
  flex: 4;
  order: -1;
  flex-direction: column;
  max-width: 375px;
  min-width: 375px;
  padding: 10px 25px;
}

#page-logo {
  display: block;
  flex: 1;
  order: -1;
}

#page-logo h1 {
  display: block;
  text-align: center;
  color: white;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

#page-logo .subtitle {
  display: block;
  margin-top: -20px;
  text-align: center;
  font-style: italic;
}

#content-wrapper {
  display: flex;
  flex: 7;
  flex-direction: column;
  width: 80%;
  padding-top: 50px;
}

#main-controls {
  display: flex;
  flex: 7;
  flex-direction: column;
  overflow-y: auto;
}

#main-controls {
  height: 125px;
  font-size: 0.9em;
  line-height: 1.5em;
}

#gameinput-controls,
#gamevoting-controls,
#gamesorting-controls,
#gamefiltering-controls {
  margin: 15px 0;
  padding: 0 20px;
}

#gamesorting-controls label,
#gamefiltering-controls label {
  display:block;
}

#gameinput-controls .instructions,
#gamevoting-controls .instructions,
#gamesorting-controls .instructions,
#gamefiltering-controls .instructions {
  margin-left: -20px;
}

#inputsection-selector,
#votingsection-selector,
#inspectionsection-selector {
  margin: 3px 0;
  padding: 0;
}

#inputsection-selector > :first-child,
#votingsection-selector > :first-child,
#inspectionsection-selector > :first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#inputsection-selector > :last-child,
#votingsection-selector > :last-child,
#inspectionsection-selector > :last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.selector {
  display: inline-block;
  padding: 2px 3px;
  background-color: white;
  color: purple;
  border: 1px solid purple;
}

.selector.darkbg {
  display: inline-block;
  padding: 2px 3px;
  background-color: purple;
  color: white;
  border: 1px solid white;
}

.selector.selected {
  background-color: purple;
  color: white;
  font-weight: 800;
}

.selector.darkbg.selected {
  background-color: white;
  color: purple;
  font-weight: 800;
}

.status-messages {
  margin-top: 10px;
}

#resulting-games {
  display: flex;
  flex: 7;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.gamecard-header {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5px;
  padding-top: 5px;
}

.gamecard-title,
.gamecard-details {
  margin: 0;
  padding: 10px;
  font-size: 1.0em;
  line-height: 1.25em;
}

.gamecard-title {
  height: 50px;
  line-height: 1.5em;
}

.gamecard-thumbnail {
  font-size: 2.0em;
  line-height: 1.5em;
  font-weight: 800;
  padding: 0;
}

.gamecard-thumbnail {
  position: relative;
  text-align: center;
  display: flex;
  margin-top: 10px;
  margin-bottom: -10px;
  height: 200px;
  align-self: center;
}

.gamecard-thumbnail .votes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: black;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.gamecard-details.major {
  height: 25px;
}

.gamecard-details.minor {
  height: 175px;
  overflow-y: auto;
}

.gamecard-details.text {
  height: 500px;
  text-align: left;
  overflow-y: auto;
}

.gamecard-thumbnail-overlay {
  position: absolute;
  min-width: 100px;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-27%, 40%);
}

.gamecard-thumbnail-overlay li {
  margin: 5px 0;
  padding: 0 3px;
  background-color: darkred;
  line-height: 1.5em;
  font-size: 0.45em;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  border-left: 1px solid orange;
  border-radius: 5px 0 0 5px;
}

.gamecard-title,
.gamecard-details.major {
  font-size: 1.0em;
  font-weight: 800;
}

.gamecard-footer {
  height: 50px;
}

.instructions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2.0em;
  font-size: 1.5em;
  font-weight: 800;
}

.leftGroup, 
.rightGroup {
  display: flex;
  align-items: center;
}

.circledNumber {
  display: inline-block;
  font-size: 2.0em;
}

#resulting-games .message {
  margin: 30px;
}


/*
** MISCELLANEOUS STYLES (FOR THE VISUAL COMPONENTS)
*/

#voting-section li.thumbsup, 
#voting-section li.thumbsdown, 
#voting-section li.novote {
  cursor: pointer;
}

.thumbsup {
  color: green;
  font-weight: 800;
}

.gamecard-details li.thumbsup {
  color: green;
  background-color: white;
  border-radius: 5px;
  font-weight: 900px;
  margin:2px 10px;
}

.gamecard-thumbnail-overlay li.thumbsup {
  color: green;
  background-color: white;
}

.game {
  display: flex;
  flex-direction: column;
  flex: 0 0 none;
  height: 100%;
  margin: 2px;
  padding: 0 2px;
  width: 200px;
  max-width: 275px;
  min-width: 175px;
  max-height: 1000px;
  position: relative;
  background-color: purple;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.game.inspecting {
  min-width: 500px;
}

.game.inspecting li {
  padding-bottom: 10px;
}

.game.inspecting a {
  color: white;
}

.game.inspecting a:visited {
  color: lightgray;
}

.game.inspecting a:hover {
  color: lightpink;
}

.gamecard-thumbnail img {
  max-width: 150px;
  object-fit: contain;
}

.showsegment-enter {
  opacity: 0;
}

.showsegment-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.showsegment-exit {
  opacity: 1;
}

.showsegment-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.gamecard-footer {
  font-size: 0.9rem;
  line-height: 1;
}

.footer a {
  color: yellow;
  text-decoration: underline;
}

.footer a:hover {
  color: red;
}

.footer img {
  height: 2.5rem;
}

.game-name {
  margin: 0;
  padding: 0;
}

.game-yearpublished {
  margin: 0;
  padding: 0;
}

.warning, .error {
  color: red;
  font-weight: 800;
}

.addedgame, .message {
  margin: 0;
}

.message.error, .message.warning {
  display: inline-block;
  padding: 10px;
  background-color: lightpink;
  color: black;
  border: 3px solid red;
  border-radius: 10px;
}

.callout {
  font-weight: 800;
  text-decoration-line: underline;
  text-decoration-style: double;
}

.addedgame.hovering {
  color: red;
}

.voteable.hovering.novote {
  color: green;
  font-weight: 800;
}

.voteable.hovering.thumbsup {
  color: black;
}

button.default-styles,
button.fa-button {
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  background: #1e88e5;
  color: white;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  cursor: pointer;
}

button.fa-button {
  background: transparent;
}

.game .gamecard-header {
  padding: 1px 2px 2px 0;
}

.game .gamecard-header button.fa-button {
  margin: 1px;
  padding: 4px;
  border-radius: 4px;
}

.game .gamecard-header button.fa-button:hover {
  color: purple;
  background-color: white;
}

.selector,
button:enabled,
.fa-button:enabled {
  cursor: pointer;
}